.article-card {
    display: grid;
    grid-template-columns: 8fr 8fr;
    justify-content: space-evenly;
    background-color: rgb(241, 239, 239);
    margin: 30px;
}

#comments-container {
    grid-column: 2/2;
    margin: 30px
}

img {
    
    width: 400px;
    height: auto;
    margin: 30px;
    
}

